html{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    background-color: #ffeaa7;
    user-select:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

ol,
ul{
    list-style: none;
}
img{
    max-width: 100%;
    height:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input,
select,
textarea{
    border: none;
    outline: none;
}

::placehold{
    color: rgba(0,0,0,0.2);
}

.container{
    display:block;
    max-width: 480px;
    margin: 0 auto;
    padding: 1rem;

}
    
.main{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0 ,0.25)
}
.new-todo{
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    font-size: 1.5rem;
    font-style: italic;
    width: 100%;
    padding: 16px 16px 18px 16px;
}
.title{
    color: #fab1a0;
    font-size: 64px;
    font-weight: 100;
    text-align: center;
}

ul.todo-list li{
    display:flex;
    border-top: 1px solid #dfe6e9;
    border-bottom: 1px solid #dfe6e9;
}
.todo{
    flex: 1;
    outline:none;
    cursor:pointer;
    font-size: 1.5rem;
    word-break: break-all;
    line-height: 1.2;
    transition: color 0.3s;
    padding: 15px 15px 17px 15px;
}
.todo.checked{
    color: #b2bec3;
    text-decoration: line-through;
}

.remove{
    background-color: transparent;
    border: none;
    color: #ff7675;
    cursor: pointer;
    outline: none;
    width: 50px;

}